<div id="menubar" class="menubar-wrapper">
  <!-- <mat-form-field class="examdivle-full-width project-name-wrapper">
    <input matInput placeholder="Project Name" value="">
  </mat-form-field> -->
  <div class="spacer">
  </div>
  <div class="button-panel-wrapper">
    <button mat-icon-button color="primary"><i class="material-icons">archive</i></button>
    <button mat-icon-button color="primary"><i class="material-icons">clear</i></button>
    <button mat-icon-button color="primary"><i class="material-icons">play_arrow</i></button>
  </div>
</div>