<mat-grid-list cols="3" rowHeight="52px">
  <mat-grid-tile>
    <button mat-icon-button [disabled]="selectedToolType==='DEACTIVATE'"><i class="material-icons" [ngClass]="{'icons':selectedToolType!=='DEACTIVATE'}">crop</i></button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button [disabled]="selectedToolType==='DEACTIVATE'"><i class="material-icons" [ngClass]="{'icons':selectedToolType!=='DEACTIVATE'}">zoom_out_map</i></button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button [disabled]="selectedToolType==='DEACTIVATE'"><i class="material-icons" [ngClass]="{'icons':selectedToolType!=='DEACTIVATE'}">zoom_in</i></button>
  </mat-grid-tile>
  <mat-grid-tile (click)="canvasCommand('ADD_TEXT')">
    <button mat-icon-button [disabled]="selectedToolType==='DEACTIVATE'"><i class="material-icons" [ngClass]="{'icons':selectedToolType!=='DEACTIVATE'}">text_fields</i></button>
  </mat-grid-tile>
  <mat-grid-tile (click)="canvasCommand('FILTER:ALL')">
    <button mat-icon-button [disabled]="selectedToolType==='DEACTIVATE'"><i class="material-icons" [ngClass]="{'icons':selectedToolType!=='DEACTIVATE'}">format_painter</i></button>
  </mat-grid-tile>
</mat-grid-list>