.editor-container {
  height: 100%;
  width: 100%;
}

.work-panel {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0px 16px 0px;
}

.image-picker-container {
  position: relative;
  z-index: 10;
  background: #222222;
  min-width: 200px;
  max-width: 200px;
  height: 600px;
}

.canvas-container {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
}

.toolbar-container {
  background: #222222;
  min-width: 200px;
  max-width: 200px;
  height: 600px;
}
