<div *ngIf="selectedToolType!=='TEXT:EDITING'" class="text-field-container">
  <mat-form-field class="examdivle-full-width text-field" color="accent">
    <input matInput type="text" placeholder="Text" [(ngModel)]="text">
  </mat-form-field>
</div>
<mat-grid-list class="font-style-container" cols="4" rowHeight="52px">
  <mat-grid-tile>
    <button mat-icon-button (click)="toggleBold()"><i [ngClass]="{'active-icon':fontWeight==='bold'}" class="material-icons icons">format_bold</i></button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button (click)="toggleItalic()"><i [ngClass]="{'active-icon':fontStyle==='italic'}" class="material-icons icons">format_italic</i></button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button (click)="toggleUnderline()"><i [ngClass]="{'active-icon':underline}" class="material-icons icons">format_underlined</i></button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button (click)="toggleLinethrough()"><i [ngClass]="{'active-icon':linethrough}" class="material-icons icons">strikethrough_s</i></button>
  </mat-grid-tile>
</mat-grid-list>
<div class="font-size-slider-container">
  <div class="font-size">
    {{fontSize}}
  </div>
  <div class="font-slider-wrapper">
    <mat-slider min="8" step="1" max="74" thumb-label="true" [(ngModel)]="fontSize" class="font-size-slider "></mat-slider>
  </div>
</div>
<div class="color-alpha-picker-container">
  <button mat-icon-button [(colorPicker)]="color" [cpWidth]="205 " [cpPosition]=" 'bottom' " [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true "
    [cpCancelButton]="true " [cpOKButton]="true " [cpSaveClickOutside]="false ">
  <i [style.color]="color " class="material-icons icons">color_lens</i>
  </button>
  <div class="alpha-slider-wrapper">
    <mat-slider class="alpha-slider"></mat-slider>
  </div>
</div>
<div *ngIf="selectedToolType!=='TEXT:EDITING'" class="confirm-button-container">
  <button mat-raised-button color="accent" class="confirm-button" (click)="addTextToCanvas()">ADD</button>
</div>
<div *ngIf="selectedToolType==='TEXT:EDITING'" class="confirm-button-container">
  <button mat-raised-button color="accent" class="confirm-button" (click)="onUpdateText()">APPLY</button>
</div>