<div class="toolbar-wrapper">
  <div class="icon-panel">
    <button mat-icon-button *ngIf="selectedToolType!=='MAIN'" (click)="onChangeToolType('MAIN')"><i class="material-icons icons">arrow_back</i></button>
    <div class="spacer"></div>
    <button mat-icon-button><i class="material-icons icons">undo</i></button>
    <button mat-icon-button><i class="material-icons icons">redo</i></button>
  </div>
  <div class="main-tool-slider">
    <app-main-tools *ngIf="selectedToolType==='MAIN'"></app-main-tools>
    <app-text-tools [selectedToolType]="selectedToolType" [activeObjectProps]="activeObjectProps" *ngIf="selectedToolType==='TEXT' || selectedToolType==='TEXT:EDITING' || selectedToolType==='TEXT:EDITING-ADVANCED'"></app-text-tools>
  </div>
</div>