.toolbar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon-panel {
  height: 5%;
  min-height: 40px;
  width: calc(100% - 8px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4px 4px 8px 4px;
  border-bottom: 1px solid #dddbdb;
}

.icons {
  color: #dddbdb;
}

.spacer {
  flex: 1;
}

.main-tool-slider {
  height: 95%;
  position: relative;
  z-index: 9;
  /* display: flex; */
  /* flex-direction: column; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-tool-slider > * + * {
  margin: 16px 15px 0px 0px;
}

.main-tool-slider button:nth-child(3n + 1) {
  margin: 16px 15px 0px 15px;
}
