.image-picker-wrapper {
  display: flex;
  flex-direction: column;
}

.icon-panel {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4px 4px 8px 4px;
  border-bottom: 1px solid #dddbdb;
}

.icons {
  color: #dddbdb;
}

.spacer {
  flex: 1;
}

.photo-slider {
  height: calc(600px - 53px);
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.thumbnail-wrapper {
  position: relative;
  z-index: 8;
  width: calc(100%-16px);
  height: auto;
  margin: 0px 8px 8px 8px;
  border: 1px solid #8d8c8c;
}

.thumbnail-wrapper:hover {
  border: 1px solid #bd40ee;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.thumbnail:hover {
  cursor: pointer;
}
