<div class="image-picker-wrapper">
  <div class="icon-panel">
    <button mat-icon-button id='upload-file-button' (click)="onUploadButtonTrigger()"> <i class="material-icons icons">add_a_photo</i>
      <input type="file" id="upload-file-input" style="display:none;" multiple accept="image/*" (change)="onUpload($event)"/>
    </button>
    <button mat-icon-button><i class="material-icons icons">photo_size_select_small</i></button>
    <div class="spacer"></div>
    <button mat-icon-button><i class="material-icons icons">delete_forever</i></button>
    <button mat-icon-button (click)="onClearAll()"><i class="material-icons icons">clear</i></button>
  </div>
  <div class="photo-slider">
    <img class="thumbnail" *ngFor="let url of fileUrlList" [src]="url" (click)="addImageOnCanvas(url);" />
  </div>
</div>